


{% extends 'layout.html' %}
{% load static %}


{% block header %}
<a href="{% url 'licenciatura' %}">Licenciatura</a>
<a href="{% url 'projetos' %}">Projetos</a>
{% endblock header%}
    
{% block main %}
    
<div class="my_container_skills" id="Mastery_of_Languages">            
    <div class="TEXT">
        <h1 >
            Mastery of Languages
        </h1>
        <br>
        <br>
        <p>


            Portuguese: <img src="{% static 'images/5_5.png' %}" alt="" style="width: 6vw; height: 1vw;">
        </p>
        <br>
        <p>
            English: <img src="{% static 'images/4_5.png'%}" alt="" style="width: 6vw; height: 1vw;">
        </p>
        <br>
        <p>
            Spanish: <img src="{% static 'images/2_5.png'%}" alt="" style="width: 6vw; height: 1vw;">
        </p>

    </div>

</div>

<div class="my_container_skills" id="Learned_Programing_Languages">
    <div class="TEXT">
        <h1 >
            Learned Programing Languages
        </h1>
        <br>
        <p>
            Java
        </p>
        <br>
        <p>
            Kotling
        </p>
        <br>
        <p>
            C
        </p>
        <br>
        <p>
            HTML, CSS, JavaScript
        </p>
    </div>
</div>


<div class="my_container_skills" id="about_me">
    <div class="TEXT">
        <h1>
            A litle more About me
        </h1>
            Hobbies:
        </h3>
        <p>
            Scouts: 142 <img src="{% static 'images/142.png'%}" alt="" style="width: 1vw; height: 0.9vw;">
        </p>
        <p>
            Sports: Judo <img src="{% static 'images/kimono.jpg' %}" alt="" style="width: 1vw; height: 0.9vw;">
        </p>
        <p>
            Music: Guitar player <img src="{% static 'images/guitar.png '%}" alt="" style="width: 0.7vw; height: 1vw;">
        </p>
    </div>
</div>


{% endblock main %} 


    

    

