{% extends 'layout.html' %}
{% load static %}



{% block head %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}"> 
<script src="{% static 'js/blog.js' %}"></script>
{% endblock head %}


{% block main %}
<div class="blogHeader">
    <h1>
        Blog
    </h1>
</div>



<div class="inputText">
    <div>
        <h2>
            Faz um Post!
        </h2>
        <form method="POST", action="">
            {% csrf_token %}
            <div>
                <p>
                    Titulo : {{ form.title }} 
                </p>
            </div>
            <br>
            <div>
                <p>
                    Assunto : {{ form.subject }} 
                </p>
            </div>
            <br>
            <div>
                <p>
                    Texto : <div class="texForm" >{{ form.text }}</div> 
                </p>
            </div>
            <br>
            {% if request.user.is_authenticated %}
            <input class="hover-animation" type="submit" value="send">
            
            {% else %}
            <a href="{% url 'login' %}" style="font-size: 20px;   color: black; text-decoration: none;">
                login
            </a>
            <a>
                /
            </a>
            <a href="{% url 'sing_in' %}" style="font-size: 20px;   color: black; text-decoration: none;">
                sing up
            </a>
            {% endif %}
            <br>
        </form>
    </div>
</div>


<div class="input-text">
    <div>
        <h1 style="text-align: center;">
            Posts
        </h1>
    <div>
</div>

<div class="inputText">
    <div class="barreira">
        <h2>
            Geral
        </h2>
        {% for post in posts %}
        <br>
        {%if post.subject == 1%}
        <h3>
        <p>{{post.title}}</p>
        </h3>
        <br>
        <br>
        <p>{{post.text}}</p>
        {% if user.is_superuser %}
            <a href="{% url 'deletePost' post.id %}" role="button" class="btn btn-danger">Apagar</a>
        {% endif %}
        <br>
        <br>
        <br>
        <div class="barrira-child">
            <p>
                {{post.likes}} 
                <a href="{% url 'likePost' post.id%}" role="button" class="btn btn-danger">
                    <i class="fa-solid fa-heart"></i>
                </a>  
            </p>
        </div>
        {%endif%}
        {% endfor %}

    </div>
</div>


<div class="inputText">
    <div class="barreira">
        <h2>
            Tecnologia
        </h2>
        {% for post in posts %}
        <br>
        {%if post.subject == 2%}
        <h3>
        <p>{{post.title}}</p>
        </h3>
        <br>
        <br>
        <p>{{post.text}}</p>
        {% if user.is_superuser %}
            <a href="{% url 'deletePost' post.id %}" role="button" class="btn btn-danger">Apagar</a>
        {% endif %}
        <br>
        <br>
        <br>
        <div class="barrira-child">
            <p>
                {{post.likes}} 
                <a href="{% url 'likePost' post.id%}" role="button" class="btn btn-danger">
                    <i class="fa-solid fa-heart"></i>
                </a>  
            </p>
        </div>
        {%endif%}
        {% endfor %}
    </div>
</div>


<div class="inputText">
    <div class="barreira">
        <h2>
            Cultura
        </h2>
        {% for post in posts %}
        <br>
        {%if post.subject == 3 %}
        <h3>
        <p>{{post.title}}</p>
        </h3>
        <br>
        <br>
        <p>{{post.text}}</p>
        {% if user.is_superuser %}
            <a href="{% url 'deletePost' post.id %}" role="button" class="btn btn-danger">Apagar</a>
        {% endif %}
        <br>
        <br>
        <br>
        <div class="barrira-child">
            <p>
                {{post.likes}} 
                <a href="{% url 'likePost' post.id%}" role="button" class="btn btn-danger">
                    <i class="fa-solid fa-heart"></i>
                </a>  
            </p>
        </div>
        {%endif%}
        {% endfor %}
    </div>
</div>



<div class="inputText">
    <div class="barreira">

        <h2>
            Educacao
        </h2>
        {% for post in posts %}
        <br>
        {%if post.subject == 4 %}
        <h3>
        <p>{{post.title}}</p>
        </h3>
        <br>
        <br>
        <p>{{post.text}}</p>
        {% if user.is_superuser %}
            <a href="{% url 'deletePost' post.id %}" role="button" class="btn btn-danger">Apagar</a>
        {% endif %}
        <br>
        <br>
        <br>
        <div class="barrira-child">
            <p>
                {{post.likes}} 
                <a href="{% url 'likePost' post.id%}" role="button" class="btn btn-danger">
                    <i class="fa-solid fa-heart"></i>
                </a>  
            </p>
        </div>
        {%endif%}
        {% endfor %}
    </div>
</div>
{% endblock main%}