{% extends 'layout.html' %}
{% load static %}



{% block head %}
<link rel="stylesheet" href="{% static 'css/projetos.css' %}"> 
<!-- <script src="{% static 'js/licenciatura.js' %}"></script> -->
{% endblock head %}


{% block main %}

<div class="projetos">            
    <div class="TEXT">
        <h1 >
            Mineswepper
        </h1>
        <br>
        <p>
            Jogo Classico Mineswepper programado em Kotling
        </p>
        <p>
            Intruducao a programacao
            <i class="fa-brands fa-github"></i>
        </p>

    </div>

</div>

<div class="projetos">
    <div class="TEXT">
        <h1 >
           DeisiFLix
        </h1>
        <br>
        <p>
            projeto que processa grandes quantidades de informacao sobre filmes, do genero IMDB
        </p>
        <p>
            Algoritmia e Estrutura de Dados
            <i class="fa-brands fa-github"></i>
        </p>
    </div>
</div>


<div class="projetos"projetos>
    <div class="TEXT">
        <h1>
            SmartHouse
        </h1>
        <br>
        <p>
            Desenvolvi um ardino para tornar a minha casa inteligente
        </p>
        <p>
            Arquitetura Avancada de Computadores 
            <a href="https://github.com/pedroLopes-a22104722/Alfaces"><i class="fa-brands fa-github"></i></a>
        </p>
    </div>
</div>

<div class="projetos"projetos>
    <div class="TEXT">
        <h1>
            Jungle
        </h1>
        <br>
        <p>
            Programei em java um jogo de tabuleiro
        </p>
        <p>
            Linguagens de Programnacao
            <i class="fa-brands fa-github"></i>
        </p>
    </div>
</div>

<div class="projetos"projetos>
    <div class="TEXT">
        <h1>
            CatchME if You Can
        </h1>
        <br>
        <p>
            Jogo do estilo tabuleiro criado em C
        </p>
        <p>
            Linguagens Programacao
            <a href="https://github.com/pedroLopes-a22104722/ProjetoDeLP1"><i class="fa-brands fa-github"></i></a>
        </p>
    </div>
</div>

<div class="projetos"projetos>
    <div class="TEXT">
        <h1>
            Alfaces
        </h1>
        <br>
        <p>
            programei um arduino para controlar uma estufa de alfaces em hidroponia
        </p>
        <p>
            Pessoal
            <a href="https://github.com/pedroLopes-a22104722/Alfaces"><i class="fa-brands fa-github"></i></a>
        </p>
    </div>
</div>

{% endblock main %}  
