*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

/*--------NAVEGATION STUFF--------*/
.hdr{
    background: lightslategray;
    color: white;
    top: 0%;
    position: fixed;
    width: 100%;
    height: 10vh;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: xx-large;
    opacity: 0.7;
}

.nav{
    display: flex;
}

.hdr a {

    padding: 20px;
    text-decoration: none;
    font-size: 25px;
    color: lightgray;
    cursor: pointer;
}


.hdr a:hover{
	color: black;
	font-weight: bold;
}
.nav a:hover {
	color: black;
	font-weight: bold;
}



.Lopes{
    display: flex;
    justify-content: center;
    align-items: center;
}



/* --------BANER STUF--------*/
.text_over_baner_container{
    position: absolute;
    bottom: 30%;
    right: 10%;
    

}

.text_over_baner{
  color: white;
  font-size: 80px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}




/*GRED STUF*/



header {  grid-area: header;}
nav {  grid-area: menu;}
main {  grid-area: main;}
aside {  grid-area: right;}


.grid-container1 {
  display: grid;
  height: 100vh;
  gap: 10px;
  padding: 10px;
  background-color: DodgerBlue;

  grid-template-areas:
    "header header  header"
    "main   menu    right"
    "footer footer  footer";

  grid-template-columns: 1fr fr 2fr;
  grid-template-rows: 20% 1fr 50px;
}




.grid-container1 > * {
  background-color: white;
  opacity: 0.8;
  text-align: center;
  padding: 10px 0;
  font-size: 4vw;
}


.grid-container2 {
    display: grid;
    height: 100vh;
    gap: 10px;
    padding: 10px;
    background-color: DodgerBlue;
  
    grid-template-areas:
      "header header  header"
      "right  main   menu    "
      "footer footer  footer";
  
    grid-template-columns: 10fr 1fr 2fr;
    grid-template-rows: 10% 10fr 10px;
  }
  
  .grid-container2 > * {
    background-color: white;
    opacity: 0.8;
    text-align: center;
    padding: 10px 0;
    font-size: 4vw;
  }


  .grid-container3 {
    display: grid;
    height: 100vh;
    gap: 10px;
    padding: 10px;
    background-color: DodgerBlue;
  
    grid-template-areas:
      "header"
      "right"
        "main"
        "menu";
  
    grid-template-columns: 1fr;
    grid-template-rows: 70px 15vh 1fr 20vh 60px;
  }
  
  .grid-container3 > * {
    background-color: white;
    opacity: 0.8;
    text-align: center;
    padding: 10px 0;
    font-size: 4vw;
  }


  .grid-container4 {
    display: grid;
    height: 100vh;
    gap: 10px;
    padding: 10px;
    background-color: DodgerBlue;
  
    grid-template-areas:
    "header header  header"
    "right  main   menu    "
    "right footer  menu";

  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 10% 10fr 10px;
  }
  
  .grid-container4 > * {
    background-color: white;
    opacity: 0.8;
    text-align: center;
    padding: 10px 0;
    font-size: 4vw;
  }


  .grid-container5 {
    display: grid;
    height: 100vh;
    gap: 10px;
    padding: 10px;
    background-color: DodgerBlue;
  
    grid-template-areas:
    "header header  righ"
    "main  menu   menu    "
    "right menu  menu";

  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 10% 10fr 10px;
  }
  
  .grid-container5 > * {
    background-color: white;
    opacity: 0.8;
    text-align: center;
    padding: 10px 0;
    font-size: 4vw;
  }


  .grid-container6 {
    display: grid;
    height: 100vh;
    gap: 10px;
    padding: 10px;
    background-color: DodgerBlue;
  
    grid-template-areas:
      "header"
      "menu"
      "right"
        "main"
      "footer";
  
    grid-template-columns: 1fr;
    grid-template-rows: 70px 15vh 1fr 20vh 60px;
  }
  
  .grid-container6 > * {
    background-color: white;
    opacity: 0.8;
    text-align: center;
    padding: 10px 0;
    font-size: 4vw;
  }




.menu_grid{
    color: black;
    background-color: blueviolet;
}

.main_grid{
    background-image: url(images/monuments.webp);
}

.ad_grid{
    background-image: url(images/monument3.jpg);
}




.text_about_berlin{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_multimidia{
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}








